<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">

    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="RollingFile" fileName="${sys:catalina.home}/logs/admin.log"
                     filePattern="${sys:catalina.home}/logs/$${date:yyyy-MM}/admin-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout
                    pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="50 MB"/>
            </Policies>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="com.aladdin.core.dao" level="debug" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="com.wl" level="WARN" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <logger name="org.springframework" level="WARN" additivity="false">
            <appender-ref ref="Console"/>
        </logger>
        <root level="error">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>

